ProyectoMA/xml-resources/web-service-references/WebServicProyec/wsdl/localhost_8080/ServicesAgiles/WebServicProyec.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WsProyecActivos/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WsProyecActivos/" name="WebServicProyec">
<types>
<xsd:schema>
<xsd:import namespace="http://WsProyecActivos/" schemaLocation="http://localhost:8080/ServicesAgiles/WebServicProyec?xsd=1" />
</xsd:schema>
</types>
<message name="listaUsiarios">
<part name="parameters" element="tns:listaUsiarios" />
</message>
<message name="listaUsiariosResponse">
<part name="parameters" element="tns:listaUsiariosResponse" />
</message>
<message name="validar">
<part name="parameters" element="tns:validar" />
</message>
<message name="validarResponse">
<part name="parameters" element="tns:validarResponse" />
</message>
<message name="desbloquear">
<part name="parameters" element="tns:desbloquear" />
</message>
<message name="desbloquearResponse">
<part name="parameters" element="tns:desbloquearResponse" />
</message>
<message name="bloquear">
<part name="parameters" element="tns:bloquear" />
</message>
<message name="bloquearResponse">
<part name="parameters" element="tns:bloquearResponse" />
</message>
<message name="listarPorUsuario">
<part name="parameters" element="tns:listarPorUsuario" />
</message>
<message name="listarPorUsuarioResponse">
<part name="parameters" element="tns:listarPorUsuarioResponse" />
</message>
<message name="listarPorPass">
<part name="parameters" element="tns:listarPorPass" />
</message>
<message name="listarPorPassResponse">
<part name="parameters" element="tns:listarPorPassResponse" />
</message>
<message name="listarActivos">
<part name="parameters" element="tns:listarActivos" />
</message>
<message name="listarActivosResponse">
<part name="parameters" element="tns:listarActivosResponse" />
</message>
<message name="login">
<part name="parameters" element="tns:login" />
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse" />
</message>
<message name="listarDetalValidacion">
<part name="parameters" element="tns:listarDetalValidacion" />
</message>
<message name="listarDetalValidacionResponse">
<part name="parameters" element="tns:listarDetalValidacionResponse" />
</message>
<message name="detallValidaCondic">
<part name="parameters" element="tns:detallValidaCondic" />
</message>
<message name="detallValidaCondicResponse">
<part name="parameters" element="tns:detallValidaCondicResponse" />
</message>
<message name="estadoCuenta">
<part name="parameters" element="tns:estadoCuenta" />
</message>
<message name="estadoCuentaResponse">
<part name="parameters" element="tns:estadoCuentaResponse" />
</message>
<message name="listarActivosUsuario">
<part name="parameters" element="tns:listarActivosUsuario" />
</message>
<message name="listarActivosUsuarioResponse">
<part name="parameters" element="tns:listarActivosUsuarioResponse" />
</message>
<message name="listValidacion">
<part name="parameters" element="tns:listValidacion" />
</message>
<message name="listValidacionResponse">
<part name="parameters" element="tns:listValidacionResponse" />
</message>
<message name="cero">
<part name="parameters" element="tns:cero" />
</message>
<message name="ceroResponse">
<part name="parameters" element="tns:ceroResponse" />
</message>
<message name="validCondicion">
<part name="parameters" element="tns:validCondicion" />
</message>
<message name="validCondicionResponse">
<part name="parameters" element="tns:validCondicionResponse" />
</message>
<portType name="WebServicProyec">
<operation name="listaUsiarios">
<input wsam:Action="http://WsProyecActivos/WebServicProyec/listaUsiariosRequest" message="tns:listaUsiarios" />
<output wsam:Action="http://WsProyecActivos/WebServicProyec/listaUsiariosResponse" message="tns:listaUsiariosResponse" />
</operation>
<operation name="validar">
<input wsam:Action="http://WsProyecActivos/WebServicProyec/validarRequest" message="tns:validar" />
<output wsam:Action="http://WsProyecActivos/WebServicProyec/validarResponse" message="tns:validarResponse" />
</operation>
<operation name="desbloquear">
<input wsam:Action="http://WsProyecActivos/WebServicProyec/desbloquearRequest" message="tns:desbloquear" />
<output wsam:Action="http://WsProyecActivos/WebServicProyec/desbloquearResponse" message="tns:desbloquearResponse" />
</operation>
<operation name="bloquear">
<input wsam:Action="http://WsProyecActivos/WebServicProyec/bloquearRequest" message="tns:bloquear" />
<output wsam:Action="http://WsProyecActivos/WebServicProyec/bloquearResponse" message="tns:bloquearResponse" />
</operation>
<operation name="listarPorUsuario">
<input wsam:Action="http://WsProyecActivos/WebServicProyec/listarPorUsuarioRequest" message="tns:listarPorUsuario" />
<output wsam:Action="http://WsProyecActivos/WebServicProyec/listarPorUsuarioResponse" message="tns:listarPorUsuarioResponse" />
</operation>
<operation name="listarPorPass">
<input wsam:Action="http://WsProyecActivos/WebServicProyec/listarPorPassRequest" message="tns:listarPorPass" />
<output wsam:Action="http://WsProyecActivos/WebServicProyec/listarPorPassResponse" message="tns:listarPorPassResponse" />
</operation>
<operation name="listarActivos">
<input wsam:Action="http://WsProyecActivos/WebServicProyec/listarActivosRequest" message="tns:listarActivos" />
<output wsam:Action="http://WsProyecActivos/WebServicProyec/listarActivosResponse" message="tns:listarActivosResponse" />
</operation>
<operation name="login">
<input wsam:Action="http://WsProyecActivos/WebServicProyec/loginRequest" message="tns:login" />
<output wsam:Action="http://WsProyecActivos/WebServicProyec/loginResponse" message="tns:loginResponse" />
</operation>
<operation name="listarDetalValidacion">
<input wsam:Action="http://WsProyecActivos/WebServicProyec/listarDetalValidacionRequest" message="tns:listarDetalValidacion" />
<output wsam:Action="http://WsProyecActivos/WebServicProyec/listarDetalValidacionResponse" message="tns:listarDetalValidacionResponse" />
</operation>
<operation name="detallValidaCondic">
<input wsam:Action="http://WsProyecActivos/WebServicProyec/detallValidaCondicRequest" message="tns:detallValidaCondic" />
<output wsam:Action="http://WsProyecActivos/WebServicProyec/detallValidaCondicResponse" message="tns:detallValidaCondicResponse" />
</operation>
<operation name="estadoCuenta">
<input wsam:Action="http://WsProyecActivos/WebServicProyec/estadoCuentaRequest" message="tns:estadoCuenta" />
<output wsam:Action="http://WsProyecActivos/WebServicProyec/estadoCuentaResponse" message="tns:estadoCuentaResponse" />
</operation>
<operation name="listarActivosUsuario">
<input wsam:Action="http://WsProyecActivos/WebServicProyec/listarActivosUsuarioRequest" message="tns:listarActivosUsuario" />
<output wsam:Action="http://WsProyecActivos/WebServicProyec/listarActivosUsuarioResponse" message="tns:listarActivosUsuarioResponse" />
</operation>
<operation name="listValidacion">
<input wsam:Action="http://WsProyecActivos/WebServicProyec/listValidacionRequest" message="tns:listValidacion" />
<output wsam:Action="http://WsProyecActivos/WebServicProyec/listValidacionResponse" message="tns:listValidacionResponse" />
</operation>
<operation name="cero">
<input wsam:Action="http://WsProyecActivos/WebServicProyec/ceroRequest" message="tns:cero" />
<output wsam:Action="http://WsProyecActivos/WebServicProyec/ceroResponse" message="tns:ceroResponse" />
</operation>
<operation name="validCondicion">
<input wsam:Action="http://WsProyecActivos/WebServicProyec/validCondicionRequest" message="tns:validCondicion" />
<output wsam:Action="http://WsProyecActivos/WebServicProyec/validCondicionResponse" message="tns:validCondicionResponse" />
</operation>
</portType>
<binding name="WebServicProyecPortBinding" type="tns:WebServicProyec">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="listaUsiarios">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="validar">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="desbloquear">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="bloquear">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="listarPorUsuario">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="listarPorPass">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="listarActivos">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="login">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="listarDetalValidacion">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="detallValidaCondic">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="estadoCuenta">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="listarActivosUsuario">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="listValidacion">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="cero">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="validCondicion">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="WebServicProyec">
<port name="WebServicProyecPort" binding="tns:WebServicProyecPortBinding">
<soap:address location="http://localhost:8080/ServicesAgiles/WebServicProyec" />
</port>
</service>
</definitions>