Metodologias2/src/META-INF/wsdl/localhost_8080/ServicesAgiles/NewWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://WSS/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://WSS/">

<xs:element name="Activosparaproceso" type="tns:Activosparaproceso" />

<xs:element name="ActivosparaprocesoResponse" type="tns:ActivosparaprocesoResponse" />

<xs:element name="Bloquear" type="tns:Bloquear" />

<xs:element name="BloquearResponse" type="tns:BloquearResponse" />

<xs:element name="activosnoValidados" type="tns:activosnoValidados" />

<xs:element name="activosnoValidadosResponse" type="tns:activosnoValidadosResponse" />

<xs:element name="actualizaEstado" type="tns:actualizaEstado" />

<xs:element name="actualizaEstadoResponse" type="tns:actualizaEstadoResponse" />

<xs:element name="cero" type="tns:cero" />

<xs:element name="desbloquear" type="tns:desbloquear" />

<xs:element name="desbloquearResponse" type="tns:desbloquearResponse" />

<xs:element name="estadoCuenta" type="tns:estadoCuenta" />

<xs:element name="estadoCuentaResponse" type="tns:estadoCuentaResponse" />

<xs:element name="guardarProceso" type="tns:guardarProceso" />

<xs:element name="guardarProcesoResponse" type="tns:guardarProcesoResponse" />

<xs:element name="login" type="tns:login" />

<xs:element name="loginResponse" type="tns:loginResponse" />

<xs:element name="mostrarActivosAValidar" type="tns:mostrarActivosAValidar" />

<xs:element name="mostrarActivosAValidarResponse" type="tns:mostrarActivosAValidarResponse" />

<xs:element name="verFunyActivos" type="tns:verFunyActivos" />

<xs:element name="verFunyActivosResponse" type="tns:verFunyActivosResponse" />

<xs:complexType name="cero">
<xs:sequence />
</xs:complexType>

<xs:complexType name="activosnoValidados">
<xs:sequence>
<xs:element name="usuario" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="activosnoValidadosResponse">
<xs:sequence>
<xs:element name="return" type="tns:proValidacion" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="proValidacion">
<xs:sequence>
<xs:element name="ape_usu" type="xs:string" minOccurs="0" />
<xs:element name="est_act" type="xs:string" minOccurs="0" />
<xs:element name="id_pro" type="xs:int" />
<xs:element name="id_usu" type="xs:string" minOccurs="0" />
<xs:element name="nom_act" type="xs:string" minOccurs="0" />
<xs:element name="nom_usu" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="verFunyActivos">
<xs:sequence />
</xs:complexType>

<xs:complexType name="verFunyActivosResponse">
<xs:sequence>
<xs:element name="return" type="tns:funActivos" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="funActivos">
<xs:sequence>
<xs:element name="APE_USU" type="xs:string" minOccurs="0" />
<xs:element name="CAN_ACT" type="xs:int" />
<xs:element name="ID" type="xs:int" />
<xs:element name="ID_USU" type="xs:string" minOccurs="0" />
<xs:element name="NOM_USU" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="desbloquear">
<xs:sequence>
<xs:element name="usur" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="desbloquearResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="guardarProceso">
<xs:sequence>
<xs:element name="dato" type="tns:validar" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="validar">
<xs:sequence>
<xs:element name="est_activo" type="xs:string" minOccurs="0" />
<xs:element name="fecha" type="xs:string" minOccurs="0" />
<xs:element name="id" type="xs:int" />
<xs:element name="id_act_per" type="xs:string" minOccurs="0" />
<xs:element name="id_usu" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="guardarProcesoResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="Bloquear">
<xs:sequence>
<xs:element name="user" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="BloquearResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="actualizaEstado">
<xs:sequence>
<xs:element name="procValidar" type="tns:validar" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="actualizaEstadoResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="estadoCuenta">
<xs:sequence>
<xs:element name="user" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="estadoCuentaResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="mostrarActivosAValidar">
<xs:sequence>
<xs:element name="usu" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="mostrarActivosAValidarResponse">
<xs:sequence>
<xs:element name="return" type="tns:validar" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="Activosparaproceso">
<xs:sequence>
<xs:element name="usuario" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="ActivosparaprocesoResponse">
<xs:sequence>
<xs:element name="return" type="tns:proValidacion" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="login">
<xs:sequence>
<xs:element name="user" type="xs:string" minOccurs="0" />
<xs:element name="pass" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="loginResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>