MetodologiasAgiles/src/META-INF/wsdl/localhost_8080/ServicesAgiles/NewWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WSS/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WSS/" name="NewWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://WSS/" schemaLocation="http://localhost:8080/ServicesAgiles/NewWebService?xsd=1" />
</xsd:schema>
</types>
<message name="login">
<part name="parameters" element="tns:login" />
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse" />
</message>
<message name="cero">
<part name="parameters" element="tns:cero" />
</message>
<message name="estadoCuenta">
<part name="parameters" element="tns:estadoCuenta" />
</message>
<message name="estadoCuentaResponse">
<part name="parameters" element="tns:estadoCuentaResponse" />
</message>
<message name="desbloquear">
<part name="parameters" element="tns:desbloquear" />
</message>
<message name="desbloquearResponse">
<part name="parameters" element="tns:desbloquearResponse" />
</message>
<message name="verFunyActivos">
<part name="parameters" element="tns:verFunyActivos" />
</message>
<message name="verFunyActivosResponse">
<part name="parameters" element="tns:verFunyActivosResponse" />
</message>
<message name="Bloquear">
<part name="parameters" element="tns:Bloquear" />
</message>
<message name="BloquearResponse">
<part name="parameters" element="tns:BloquearResponse" />
</message>
<message name="activosnoValidados">
<part name="parameters" element="tns:activosnoValidados" />
</message>
<message name="activosnoValidadosResponse">
<part name="parameters" element="tns:activosnoValidadosResponse" />
</message>
<message name="Activosparaproceso">
<part name="parameters" element="tns:Activosparaproceso" />
</message>
<message name="ActivosparaprocesoResponse">
<part name="parameters" element="tns:ActivosparaprocesoResponse" />
</message>
<portType name="NewWebService">
<operation name="login">
<input wsam:Action="http://WSS/NewWebService/loginRequest" message="tns:login" />
<output wsam:Action="http://WSS/NewWebService/loginResponse" message="tns:loginResponse" />
</operation>
<operation name="cero">
<input wsam:Action="http://WSS/NewWebService/cero" message="tns:cero" />
</operation>
<operation name="estadoCuenta">
<input wsam:Action="http://WSS/NewWebService/estadoCuentaRequest" message="tns:estadoCuenta" />
<output wsam:Action="http://WSS/NewWebService/estadoCuentaResponse" message="tns:estadoCuentaResponse" />
</operation>
<operation name="desbloquear">
<input wsam:Action="http://WSS/NewWebService/desbloquearRequest" message="tns:desbloquear" />
<output wsam:Action="http://WSS/NewWebService/desbloquearResponse" message="tns:desbloquearResponse" />
</operation>
<operation name="verFunyActivos">
<input wsam:Action="http://WSS/NewWebService/verFunyActivosRequest" message="tns:verFunyActivos" />
<output wsam:Action="http://WSS/NewWebService/verFunyActivosResponse" message="tns:verFunyActivosResponse" />
</operation>
<operation name="Bloquear">
<input wsam:Action="http://WSS/NewWebService/BloquearRequest" message="tns:Bloquear" />
<output wsam:Action="http://WSS/NewWebService/BloquearResponse" message="tns:BloquearResponse" />
</operation>
<operation name="activosnoValidados">
<input wsam:Action="http://WSS/NewWebService/activosnoValidadosRequest" message="tns:activosnoValidados" />
<output wsam:Action="http://WSS/NewWebService/activosnoValidadosResponse" message="tns:activosnoValidadosResponse" />
</operation>
<operation name="Activosparaproceso">
<input wsam:Action="http://WSS/NewWebService/ActivosparaprocesoRequest" message="tns:Activosparaproceso" />
<output wsam:Action="http://WSS/NewWebService/ActivosparaprocesoResponse" message="tns:ActivosparaprocesoResponse" />
</operation>
</portType>
<binding name="NewWebServicePortBinding" type="tns:NewWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="login">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="cero">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
</operation>
<operation name="estadoCuenta">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="desbloquear">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="verFunyActivos">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="Bloquear">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="activosnoValidados">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="Activosparaproceso">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="NewWebService">
<port name="NewWebServicePort" binding="tns:NewWebServicePortBinding">
<soap:address location="http://localhost:8080/ServicesAgiles/NewWebService" />
</port>
</service>
</definitions>